section {
 
    width: 300px; /* Ancho de la carta */
    height: 400px; /* Altura de la carta */
    border: 1px solid #000; /* Borde de la carta */
    margin: 20px; /* Margen alrededor de la carta */
    padding: 20px; /* Espacio interior alrededor del contenido de la carta */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la carta */
    background-color: #Ff8000; /* Color de fondo de la carta */
  
  }
img{
  width: 100px; 
  height: 100px;

}
  
